@charset "UTF-8";

/*  Universal Styles    */
    * {box-sizing: border-box;}


/*  Mobile  */
@media only screen and (max-width: 399px) {
    /* Colors Need To Be Dynamic */
    .responsive-btn {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        border: solid 3px rgba(0, 0, 0, 0.5);
        border-radius: 50%;

        padding: 1em;

        background-color: transparent;

        color: rgba(0,0,0,0.5); 
    }

    .btn-text {
        display: none;
    }

    /* Hover Styles */
    .responsive-btn:hover {
        opacity: 1.0;

        background-color: #000000;

        color: #FFFFFF;
    }
}

/*  Tablet  */
@media only screen and (min-width: 400px) {
    .responsive-btn {
        text-decoration: none;

        padding: 1em 3em;
        border: solid 3px rgba(0, 0, 0, 0.5);
        border-radius: 2em;

        background-color: transparent;

        color: rgba(0,0,0,0.5);
        font-size: 1em;
        font-weight: 700;
    }

    i.material-icons.icon {
        display: none;
    }

    /* Hover Styles */
    .responsive-btn:hover {
        opacity: 1.0;

        background-color: #000000;

        color: #FFFFFF;
    }
}


/*  Desktop  */
@media only screen and (min-width: 1200px) {}
